@import 'bootstrap-vars';

//font
$font-base: 'Roboto Condensed', sans-serif;


//Color
$white: #fff;
$hover-color: #e55a3c;
$dark-color: #2d2d2e;
$opacity-dark-04: rgba(0,0,0, 0.4);
$opacity-dark-07: rgba(0,0,0, 0.7);


//Animation
$transition: all 0.4s;