.section-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 200px 0;
  background: {
    size: cover;
    position: center center;
    repeat: no-repeat;
    image: url("../../assets/images/bg.jpg");
  };

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $opacity-dark-07;
  }
}

.marked-text {
  color: $hover-color;
}

.top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;

  .tel {
    font-size: 60px;

    @include media-breakpoint-down(sm) {
      font-size: 35px;
    }
  }
}

.tel-box {
  margin-top: 8vh;
}
// Section About

.about {
  padding-bottom: 0;

  &__img-box {
    max-width: 80%;
  }

  &__text {
    p {
      margin-bottom: 15px;
    }

    .tel {
      color:$hover-color;
      font-size: 25px;
    }
  }
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

// ROOM
.room {
  margin-bottom: 15px;

  &__link {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: {
      position: center center;
      repeat: no-repeat;
      size: cover;
    };
    &:hover {

      .room-hover {
        background: rgba(0,0,0, 0.2);

        &__text,
        &__title {
          transition: $transition;
        }
      }

    }

  }
}

.room-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $opacity-dark-04;
  transition: $transition;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  color: $white;
  z-index: 10;
  pointer-events: none;

  &__title {
    display: block;
    font-size: 38px;
    padding-left: 10px;
    transition: $transition;
  }
  
  &__text {
    display: block;
    color: $hover-color;
    font-size: 35px;
    padding-left: 10px;
    transition: $transition;
  }
}

.no-visible {
  display: none;

}

.info-room {

  &__row {
    margin-top: 10vh;
  }

  &__text {
    margin-top: 5vh;
  }

}

.list {
  li {
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 2px;
      background: $hover-color;
      margin-right: 5px;
    }
  }
}

//ACTION

.action-container {
  width: 100%;
  min-height: 600px;
  background: {
    image: url("../../assets/images/parking/parking-panoram-bg.png");
    size: cover;
    repeat: no-repeat;
  };
}

.action {
  text-align: center;
  &__title {
    color: $white;
    text-align: center;
    font-size: 45px;
    margin-bottom: 10vh;
  }

  &__text {
    color: $white;
    font-size: 20px;
  }
}

// ACTION END

//Contact
.contact-container {
  position: relative;

  .tel {
    &:hover {
      color: $white;
    }
  }
}

.contact {
  width: 35%;
  height: 100%;
  background: $hover-color;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
  color: $white;

  @include media-breakpoint-down(sm) {
    position: relative;
    width: 100%;
    padding-bottom: 15vh;
  }

  &__title {
    text-align: center;
    font-size: 45px;
    margin: 5vh 0;
  }

  &__top {
    font-size: 30px;
  }

  &__bottom {
    font-size: 20px;
  }
}

#map {
  width: 100%;
  height: 500px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

//progress
.progress-container {
  position: relative;
  padding: 100px 0;
  background: {
    size: cover;
    position: center center;
    repeat: no-repeat;
    image: url("../../assets/images/parking/parking-panoram-bg.png");
  };

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: $opacity-dark-07;
  }

  .container {
    position: relative;
    z-index: 10;
  }
}

.progress {
  &__box {
    display: flex;
    align-items: center;
  }

  &__item {
    color: $white;
    text-align: center;
    margin-bottom: 5vh;
  }

  &__icon {
    font-size: 70px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 25px;
  }

}

.slider-box {
  position: relative;
}

.slider {
  position: relative;

  .slick-arrow {
    position: absolute;
    bottom: 0;
    right: 0;

  }

  &__item {
    position: relative;
    width: 100%;
    height: 500px;

    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(2.5);
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    li {
      margin-left: 10px;

      button {
        border: 0;
        border-radius: 50%;
        padding: 2px 8px;
        font-size: 13px;
        color: $hover-color;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}


.testimonials {

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
    text-align: center;
    padding-top: 25px;
  }
  &__name {
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
  }
}
